body{
    background-color: rgb(0, 0, 0);
    background-image: url(noite.gif);
    background-repeat:no-repeat ;
    background-size: cover;
    
}

section{
    display: flex;
    width: 600px;
    height: 430px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .4;
    transition: .4s ease;
}

section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.box{
    position: absolute;
    width: 600px;
    height: 430px;
    background-color:rgb(29, 27, 27);;
    top: 44.2%;
    left: 48.2%;
    transform: translate(-44.2%,-48.2%);
}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

button {
    top: -150px;
    left: 46%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 1.625rem;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 8rem;
    height: auto;
    }

   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    display: flex;
    display: block;
    margin: 0;
    width: 6rem;
    height: 3rem;
    background: transparent;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 2.5rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button:hover .circle {
    width: 50%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .learn-more:hover{
    box-shadow: 0px 0px 30px 1px rgb(228, 30, 30);
    transition: 1s;
}
